
// Config Gerais
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
}
body {
    position: relative;
}
// HOME
.containers {
    background: whitesmoke;
    overflow: hidden;
}
#dashboard > div {
    display: flex;
    widht: 100%;
    height: 50%;
    flex: grid;
    background: witesmoke;
    text-align: center;
}
.blockDashboard {
    width: 25%;
    height: 5%;
    margin: 2%;
    padding: 10%;
    color: whitesmoke;
    border-radius: 20px;
}
.blockDashboard > h2 {
    text-trasform: uppercase;
}
#blockDashboard01 {
    background: purple;
}
#blockDashboard02 {
    background: green;
}
#blockDashboard03 {
    background: red;
}
#blockDashboard04 {
    background: yellow;
}
.card {
    background: #b3adad5b; 
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}


/* OVERLAY */
#lista_dashboard {
    position: fixed; /* cobre a tela toda */
    
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.9);

    z-index: 9999; /* fica acima de tudo */

    overflow-y: auto;

    padding: 20px;

    display: none; /* começa escondido */
}

#SairDashBoard {
    
    position: fixed; /* cobre a tela toda */
    
    top: 0;
    right: 0;

    width: 100vw;
    height: 100vh;

    color: whitesmoke;

    z-index: 11111; /* fica acima de tudo */

    overflow-y: auto;

    padding: 20px;

    display: none; /* começa escondido */
}