
// Config Gerais
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
}

// HOME
.containers {
    background: whitesmoke;
    overflow: hidden;
}
#dashboard > div {
    display: flex;
    widht: 100%;
    height: 50%;
    flex: grid;
    background: witesmoke;
    text-align: center;
}
.blockDashboard {
    width: 25%;
    height: 5%;
    margin: 2%;
    padding: 10%;
    color: whitesmoke;
    border-radius: 20px;
}
.blockDashboard > h2 {
    text-trasform: uppercase;
}
#blockDashboard01 {
    background: purple;
}
#blockDashboard02 {
    background: green;
}
#blockDashboard03 {
    background: red;
}
#blockDashboard04 {
    background: yellow;
}
.card {
    background: #b3adad5b; 
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}